* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    color: rgb(10, 27, 112);
    text-decoration: underline black;
    font-size: 2rem;
    text-align: center;
    background-color: rgb(0, 162, 255);
}

*       img {
    max-width: 100%;
}

/* HEADER*/

header {
    background-color: aqua;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 2.5rem;
    color: darkblue;
    text-align: center;
}

nav ul li {
    text-align: center;
    list-style: none;
    text-decoration: underline red;
    gap: 0.5rem;
}

header form {
    display: flex;
    justify-content: end;
    gap: 0.3rem;
}

.account {
    display: none;
}

/*main*/

.contenedor-ofertas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: aqua;
    gap: 1.5rem;
}

.tarjeta-producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: dashed rgb(119, 3, 3) 2px;
    gap: 1.5rem;
    max-width: 50%;
    margin: 0 auto;
gap: 1.5rem;
}

.contenedor-prod-dest{
    margin-top: 1.5rem;
    border: solid black 3px ;
max-width:300px;
align-items: center;
display: flex;
}

.contenedor-destacados{
    display:  flex;
    align-items: center;
    flex-direction: column;
}

.tarjeta-producto{
    text-align: center;
}

.btn{
    display: inline-block;
    padding: auto;
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 20px;
    border: solid aqua 3px;
    cursor: pointer;
}


