* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(161, 161, 161);
}
h3{
color: rgb(0, 162, 255);
    text-decoration: underline rgb(0, 162, 255);
    font-size: 2rem;
    text-align: center;
    background-color: rgb(117, 117, 117);
margin-top: 1.5rem;
}
h2 {
    color: rgb(10, 27, 112);
    text-decoration: underline black;
    font-size: 2rem;
    text-align: center;
    background-color: rgb(0, 162, 255);
}
footer{
    color: white;
}
*       img {
    max-width: 100%;
margin-top: 5px;
margin-left: 5px;
border: double gray 2px;

}

/* HEADER*/

header nav ul li{
    text-decoration:underline rgb(0, 0, 0);
}

header {
    background-color: aqua;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 2.5rem;
    color: darkblue;
    text-align: center;
}

ul li {
    text-align: center;
    list-style: none;
    text-decoration: underline rgb(255, 255, 255);
    margin-bottom: 0.5rem;

}

nav{
    margin: 0.5rem 0 0.5rem 0;
}

header form {
    display: flex;
    justify-content: end;
    gap: 0.3rem;
}

.account {
    display: none;
}

/*main*/

.contenedor-ofertas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 1.5rem;
    
}


.div-ofertas{
    border: dashed rgb(119, 3, 3) 2px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
gap: 1.5rem;
}

.tarjeta-producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: dashed rgb(119, 3, 3) 2px;
    gap: 1.5rem;
    max-width: 100%;
    margin: 0 auto;
gap: 1.5rem;
text-align: center;
background-color: white;
}

.contenedor-prod{
    margin-top: 1.5rem;
    border: solid black 3px ;
max-width:300px;
align-items: center;
display: flex;
flex-direction: column;
}

.contenedor{
    display:  flex;
    align-items: center;
    flex-direction: column;

}



.btn{
    display: inline-block;
    padding: 0;
    text-decoration: none;
    background-color:   aqua;
    color: white;
    border-radius: 20px;
    border: solid darkblue 3px;
    cursor: pointer;
margin-bottom: 0.5rem;
}
.btn:hover{
background-color: darkblue;
color: aqua;
}

/*FOOTER*/

.cont-foot{

border: solid black 2px;
margin-top: 1.5rem;
display: flex;
flex-direction: column;
align-items: center;
padding: 0;
}

.bg-foot{
    background-color: black;
    color:inherit;

}
footer div ul li a{
    color: white;
}

