
$c-blue:rgb(0, 162, 255);
$fs:2rem;
$white: rgb(255, 255, 255);
$black:black;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* img {
    max-height: 50%;
    max-width: 100%;
    margin-top: 5px;
    margin-left: 5px;
    border: double gray 2px;

}

h3 {
    color: rgb(0, 162, 255);
    text-decoration: underline $c-blue;
    font-size: $fs;
    text-align: center;
    background-color: rgb(117, 117, 117);
    margin-top: 1.5rem;
}

h2 {
    color: rgb(10, 27, 112);
    text-decoration: underline black;
    font-size: $fs;
    text-align: center;
    background-color: $c-blue;
}
.text{
    text-align: center;
    font-size: large;
    color:rgb(255, 255, 255);
}

body {
    background-color: rgb(161, 161, 161);
}

h1 {
    font-size: 2.5rem;
    color: darkblue;
    text-align: center;
}


a {
    text-decoration: none;
    color: black;
}
iframe{
    margin-left: 190px;
margin-top: 1.5rem;
}