
.ver-mas{
    display: inline-block;
    padding: 0;
    text-decoration: none;
    background-color: $white;
    color: $black;
    border-radius: 20px;
    border: solid $black 3px;
    margin-bottom: 0.5rem;
    padding: 5px;
    margin-top: 15px;

&:hover {
    background-color:$black;
    color: $white;
}
}


.btn {
    display: inline-block;
    padding: 0;
    text-decoration: none;
    background-color: aqua;
    color: $white;
    border-radius: 20px;
    border: solid darkblue 3px;
    margin-bottom: 0.5rem;
    padding: 5px;

&:hover {
    background-color: darkblue;
    color: aqua;
}
}

@media(min-width: 768px){
    .btn-nav {
        display: inline-block;
        padding: 0;
        text-decoration: none;
        background-color: $black;
        color: $white;
        border-radius: 20px;
        border: solid $white 3px;
        margin-bottom: 0.5rem;
        justify-content: center;
    }

    
}