footer {
    color: $white;
}
.cont-foot {

    border: solid $black 2px;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
color: $white;
}

.bg-foot {
    background-color: $black;
    color: inherit;

}

footer div a {
    color: $white;
}
@media (min-width:1200px) {
    footer {
        background-color: $black;
           }
}
.text-foot{
    color: $white;
}

.cond{
    margin-top: 1.5rem;
font-size: 1.2rem;
color: #6495ED;
text-decoration: underline;
}
.ul-foot{
text-decoration: none;
}