header {
    background-color: $black;

    & form {
        display: flex;
        justify-content: end;
        gap: 0.3rem;
    }

}
 
.img-logo{
    width: 400px;
    height: 300px;
object-fit: cover;
border: solid black 5px;
}

 