header nav ul li  a{
    text-decoration: underline $black;
    font-family:Georgia, 'Times New Roman', Times, serif;
color: $white;
}


ul li {
    text-align: center;
    list-style: none;
    text-decoration: underline $white;
    margin-bottom: 0.5rem;
    gap: 3rem;

}

nav {
  
max-width: 100%;
}

@media (min-width: 768px) {
    nav ul {
        display: flex;
        justify-content: center;       
        list-style: none;
        text-decoration: underline $white;
    max-width: 100%;
 gap: 0.5rem;
color: $white;
}

}