header nav ul li {
    text-decoration: underline $black;
padding: 0 1.5rem;
}


ul li {
    text-align: center;
    list-style: none;
    text-decoration: underline $white;
    margin-bottom: 0.5rem;
   
}

nav {
    margin: 0.5rem 0 0.5rem 0;
}

@media (min-width: 768px) {
    nav ul {
        display: flex;
        justify-content: center;
        gap: 3rem;
        list-style: none;
        text-decoration: underline $white;
    }

}