.tarjeta-producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: solid #e50c13 2px;
    gap: 1.5rem;
    max-width: 100%;
    margin: 0 auto;

    text-align: center;
    background-color: $white;
width: 350px;
height: 300px;
justify-content: center;

&:hover{
    transform: scale(1.3);
}
}

@media (min-width: 768px) {


    .tarjeta-producto {
        min-width: 100%;
        min-height: 100%;
        gap: 1rem;
        width: 350px;
        height: 300px;



    }
}
@media (min-width:1200px) {

    .tarjeta-producto{
  
    width: 350px;
    height: 300px;    
}
    
    }
    